@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* Natural User Interface 2 */

:root{
    --red : #8C0000;
    --white: #FFFFFF;
    --black: #1E211D;
    --primary-font:'Roboto slab','sans-serif'
}

body,*{
    margin: 0;
    padding: 0;
}


